<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PassepartoutMicroservice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    
  </entityFramework>
  <connectionStrings>
    <add name="PassepartoutDatabase"
          providerName="System.Data.SqlClient"
          connectionString="Server=192.168.1.50;Database=imp_rp;User Id=sa;Password=NeovoAlexenv;"/>
      
  </connectionStrings>
  <userSettings>
    <PassepartoutMicroservice.Properties.Settings>
      <setting name="Porta" serializeAs="String">
        <value>9000</value>
      </setting>
      <setting name="Indirizzo" serializeAs="String">
        <value>192.168.1.50</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>FATTEL:FATTEL</value>
      </setting>
      <setting name="LoginMexal" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordMexal" serializeAs="String">
        <value />
      </setting>
      <setting name="Terminale" serializeAs="String">
        <value>T0</value>
      </setting>
      <setting name="Azienda" serializeAs="String">
        <value>IMP</value>
      </setting>
      <setting name="PortaServizio" serializeAs="String">
        <value>8081</value>
      </setting>
      <setting name="MastrinoCliente" serializeAs="String">
        <value>501</value>
      </setting>
      <setting name="ListinoCliente" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ValutaCliente" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SiglaDocumento" serializeAs="String">
        <value>CO</value>
      </setting>
      <setting name="SerieDocumento" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MagazzinoDocumento" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CausaleDocumento" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PagamentoContanti" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PagamentoCarta" serializeAs="String">
        <value>6</value>
      </setting>
    </PassepartoutMicroservice.Properties.Settings>
  </userSettings>
</configuration>
