<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title>eRifornimento</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/assets/fonts/flaticon.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
   
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
     <link rel="stylesheet" href="app/assets/css/appstyle.css">
</head>

<body ng-controller="bodyController" >

    
    <div style="height: 100%" ng-if="authenticated===true" ng-include="'../../../../app/modules/shared/views/commonLayout.html'">
        
    </div>

    <div  ng-if="!authenticated===true" ng-include="'../../../../app/modules/shared/views/commonLogin.html'">
         
    </div>
      
   

  
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  


    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>

    <script src="app/assets/js/app.js"></script>
    <script src="app/modules/shared/directives/logoutTogglerDirective.js"></script>
    <script src="app/modules/shared/directives/sidebarDirective.js"></script>
    <script src="app/modules/shared/directives/sidebarTogglerDirective.js"></script>
    <script src="app/modules/shared/services/responseErrorInterceptor.js"></script>
    <script src="app/modules/shared/directives/navbarContentTogglerDirective.js"></script>
    <script src="app/modules/shared/directives/breadCrumbDirective.js"></script>
    <script src="app/modules/login/sevices/authService.js"></script>
    <script src="app/modules/shared/services/httpServiceInitializer.js"></script>

    
    <script src="app/modules/users/controllers/utentiController.js"></script>

    <script src="app/modules/login/controllers/loginController.js"></script>
    <script src="app/modules/shared/controllers/bodyController.js"></script>
    <script src="app/modules/home/controllers/homeController.js"></script>
    <script src="app/modules/users/controllers/newUserController.js"></script>
    <script src="app/modules/users/controllers/updateUserController.js"></script>
    
    <script src="app/modules/users/controllers/userController.js"></script>
   
    <script src="app/modules/users/services/userServices.js"></script>

    <script src="app/modules/configurazione/services/configurazioneService.js"></script>
    <script src="app/modules/configurazione/controllers/configurazioneController.js"></script>
 
   



</body>

</html>